html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
li{list-style:none;}
textarea{overflow:auto;resize:none;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{
    font:1em/100% arial,"//5b8b//4f53";color:#333;outline:0;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-focus-ring-color: rgba(255, 255, 255, 0);
    outline: none;
}
a,input,p,strong,textarea,li,select,div{font-family:"SimSun,Microsoft Yahei";}
.fl{float:left;}
.fr{float:right;}
.clearfix:after,
.row:after,
.fl:after,
.fr:after {
    clear:both;
    content:'\0020';
    display:block;
    height:0;    
}

//min提示框
#popEl{
	position: fixed;
	z-index:9;
	top:0;
	right:0;
	bottom:0;
	left:0;
	display: none;
	&.info{
		.inner{
			background-color:#666;
			max-width:260px;
			height:auto;
			min-height:auto;
			.content{
				color:#fff;
			}
			.icon{
				display: none;
			}
		}
	}
	&.alert{
		.inner{
			background-color:#f9cc81;
			min-width:160px;
			.content{
				color:#fff;
			}
			.icon{
				width: 16px;
    			background-position: -100px 20px;
			}
		}
	}
	&.success{
		.inner{
			background-color:#a4de82;
			min-width:160px;
			.content{
				color:#fff;
			}
			.icon{
				width: 100px;
    			background-position: 0px 20px;
			}
		}
	}
	&.error{
		.inner{
			background-color:#f47371;
			min-width:160px;
			.content{
				color:#fff;
			}
			.icon{
				width: 80px;
    			background-position: -116px 20px;
			}
		}
	}
	&.loading{
		.inner{
			background-color:#000;
			min-width:160px;
			.content{
				color:#fff;
			}
			.icon{
				width: 80px;
				background:url(../images/loader.gif) no-repeat center 20px;
			}
		}
	}
	.inner{
		padding:10px;
		max-width:160px;
		min-height:160px;
		position: fixed;
		left:50%;
		top:50%;
		margin-left:-80px;
		margin-top:-80px;
		border-radius:5px;
	}
	.icon{
		width:120px;
		height:110px;
		margin:10px auto;
		display: block;
		background-image:url(../images/ext_hint_icon.png);
		background-repeat:no-repeat;
	}
	.content{
		text-align: center;
	}
}