*{
	padding:0;
	margin:0;
}
ul,li{
	list-style-type:none;
}

//min提示框
#popEl{
	position: fixed;
	z-index:9;
	top:0;
	right:0;
	bottom:0;
	left:0;
	display: none;
	&.info{
		.inner{
			background-color:#eee;
		}
	}
	&.alert{
		.inner{
			background-color:#f9cc81;
		}
	}
	&.success{
		.inner{
			background-color:#a4de82;
		}
	}
	&.err{
		.inner{
			background-color:#f47371;
		}
	}
	&.load{
		.inner{
			background-color:#999;
		}
	}
	.inner{
		padding:10px;
		width:140px;
		min-height:140px;
		position: fixed;
		left:50%;
		top:50%;
		margin-left:-75px;
		margin-top:-75px;
		border-radius:5px;
	}
	.icon{
		width:100px;
		height:100px;
		margin:10px auto;
		display: block;
	}
	.content{
		text-align: center;
	}
}